{
  "workspaces": [
    { "id": 1,  "display": "1:",  "value": "1" },
    { "id": 2,  "display": "2:",  "value": "2" },
    { "id": 3,  "display": "3:",  "value": "3" },
    { "id": 4,  "display": "4:",  "value": "4" },
    { "id": 5,  "display": "5:",  "value": "5" },
    { "id": 6,  "display": "6:",  "value": "6" },
    { "id": 7,  "display": "7:",  "value": "7" },
    { "id": 8,  "display": "8:",  "value": "8" },
    { "id": 9,  "display": "9",    "value": "9" },
    { "id": 10, "display": "10",   "value": "10" },
    { "id": 11, "display": "11",   "value": "11" },
    { "id": 12, "display": "12",   "value": "12" }
  ],
  "workspace_options": {
    "default_active_id": 1,
    "swipe_navigation_wrap": true
  },
  "default_network_port": "9090",
  "default_discovery_hostname": "workstation-hostname",
  "default_discovery_domain": "workstation-hostname.tailscale.net",
  "default_cursor_hide_delay_ms": 3000,
  "default_repeat_key_delay_ms": 20,
  "default_macro_keypress_delay_ms": 120
}
